<% if (msg != '') { %>
  <b><%= msg %></b>
<% } %>

<form method="post" >
        <div>
             <label for="Message">Message</label>
            <input required name="message" type="text" placeholder="Message">
        </div>

            <br/>
            <input type='submit' value="Send the message">
            <br/>
</form>
<br />
<br />
<br />
<a href="../../../"><- Retourner voir les channels</a>